* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: sans-serif;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #0d1015;
  height: 100%;
  align-items: center;
}

.title {
  color: #fcfdfd;
  display: inline-block;
  font-size: 5em;
}

.logo-content {
  height: 30%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
  width: 12em;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.redirect {
  font-size: 3em;
  margin-top: 16em;
  text-decoration: none;
  padding: 0.5em 4.5em 0.5em 4.5em;
  background-color: #4ebc43;
  color: #fcfdfd;
  border-radius: 2em;
}

.redirect:hover {
  background-color: #398c31;
}

.redirect:active {
  background-color: #4ebc43;
}